

ul {
    display: flex;
}

ul li {
    color: rgb(236, 119, 9);
    font-size: 15px;
    list-style: none;
    margin-left: 70px;

    }

    .logoCarrito {
        max-width: 5px;
        min-width: 10px;
    }